<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ямалэнергогаз АХО</title>
</head>
<body>
    <h1>АХО самый крутой отдел</h1>
    <img src="foto.jpg" width="300">
    <br>
    <em>АХО, это самый крутой отдел в Ямалэнергогазе...</еm>
    <p>
        <br>
        <strong> Самый креативный отдел</strong>
        <br>
        <sub><del>АЛЛА ОСТАВАЙСЯ С НАМИ</del></sub>,
        <br>
        <mark>Успехов нам в работе в 2023 году</mark>
        <br>
        <sup>С новым 2023 годом!!!!!!!!!!</sup>
    </p>
</body>
</html>
